.date-custome__button {
    display: flex;
    align-items: center;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #00000029;
    padding: 13px 16px;
    width: fit-content;
    border: none;

    >span {
        flex-grow: 1;
    }

    >*:not(:last-child) {
        margin-right: 16px;
    }

}