.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout__header {
    display: flex;
    padding: 17px 34px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;

    >img {
        display: none;

        @include for-size(md) {
            height: 32px;
            display: block;
        }
    }

    &__user {
        margin-left: auto;
        display: flex;
        align-items: center;

        >*:not(:last-child) {
            margin-right: 18px;
        }

        >div {
            display: flex;
            flex-direction: column;

            color: #727272;

            >span:nth-of-type(1) {
                font: normal normal 600 14px/19px Open Sans;
            }

            >span:nth-of-type(2) {
                font: normal normal 300 10px/14px Open Sans;
            }
        }

        >img:nth-of-type(1) {
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 50%;
        }

        >img:nth-of-type(2) {
            width: 15px;
            height: 15px;
            cursor: pointer;
        }

    }
}

.layout__main {
    display: flex;
    flex-grow: 1;
}

.layout__aside {
    display: flex;
    flex-direction: column;
    width: fit-content;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #D2D2D2;

    >* {
        padding: 24px;
    }

    img {
        width: 24px;
        height: 24px;
    }

    &__navigation {
        background-color: white;

        &:hover {
            background-color: rgba(102, 102, 102, 0.575);
        }
    }

    &__navigation--active {
        @extend .layout__aside__navigation;
        background-color: rgba(128, 128, 128, 0.514);
    }

}

.layout__content {
    flex-grow: 1;
    background: #F7F7F7 0% 0% no-repeat padding-box;
}