.home {
    padding: 30px 24px;
}

.home__title {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    margin-bottom: 31px;

    >span {
        font: normal normal 600 40px/28px Source Sans Pro;
        letter-spacing: 0px;
        color: #707070C4;

        margin-bottom: 24px;

        @include for-size(md) {
            margin-bottom: unset;
        }
    }


    @include for-size(md) {
        flex-direction: row;
        align-items: center;
    }
}

.home__tab-section {
    background: #37B04C 0% 0% no-repeat padding-box;
    border-radius: 2px;
    padding: 12px 16px;
    margin-bottom: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    >span {
        font: normal normal 600 20px/13px Source Sans Pro;
        letter-spacing: 0px;
        color: #FFFFFF;
    }

    &__help {
        display: flex;
        align-items: center;

        >img {
            cursor: help;
        }

        >a {
            text-decoration: underline;
            font: normal normal 300 14px/13px Source Sans Pro;
            letter-spacing: 0px;
            color: #FFFFFF;
        }

        svg {
            cursor: pointer;
        }
    }
}

.home__section__summary {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #CDCDCD;
    border-radius: 2px;
    padding: 24px 29px;
    width: fit-content;
    margin-bottom: 16px;

    >div:nth-child(1) {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        margin-top: 21px;

        >div:nth-child(1) {
            >div:nth-child(1) {
                font-size: 21px;
                font-weight: 600;
            }

            >div:nth-child(2) {
                font-size: 10px;

                >span {
                    font-weight: 600;
                    color: red;
                }
            }
        }

        >img {
            height: 42px;
        }


    }



}

.home__section__content {
    display: flex;
    flex-wrap: 1;
    gap: 16px;

    >div {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 6px #0000000A;
        border: 0.5px solid #CDCDCD;
        border-radius: 2px;
        padding: 24px 29px;

    }

    &__header {
        display: flex;
        margin-bottom: 16px;

        &__title {

            margin-right: auto;
        }
    }
}

.home__product-list {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    max-height: 51vh;
    overflow-y: scroll;
    @include custom-scroll();
    padding-right: 8px;

    &__item {
        display: flex;
        border: 0.5px solid #C5C5C59C;
        border-radius: 4px;
        width: 250px;


        &:hover {
            background: #FFE7BD 0% 0% no-repeat padding-box;

            >img {
                width: 80px;
                height: 80px;
            }

            >div {
                >span:nth-child(1) {
                    font: normal normal bold 16px/25px Source Sans Pro;
                }

                >div {
                    font: normal normal normal 12px/20px Source Sans Pro;
                }

            }
        }

        >img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-right: 0.5px solid #C5C5C59C;
        }

        >div {
            padding: 11px 14px 11px 8px;
            color: #000000DE;
            width: 100%;

            >span:nth-child(1) {
                font: normal normal normal 20px/25px Source Sans Pro;
                letter-spacing: 0px;
            }

            >div {
                display: flex;
                justify-content: space-between;

                font: normal normal normal 14px/20px Source Sans Pro;
                letter-spacing: 0.25px;
            }
        }
    }
}