@mixin for-size($size) {
    @if $size==sm {
        @media (min-width: 576px) {
            @content;
        }
    }

    @else if $size==md {
        @media (min-width: 768px) {
            @content;
        }
    }

    @else if $size==lg {
        @media (min-width: 992px) {
            @content;
        }
    }

    @else if $size==xl {
        @media (min-width: 1200px) {
            @content;
        }
    }
}

@mixin custom-scroll($width:null, $height: null) {
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        @if $width {
            width: $width;
            height: $height;
        }

        @else {
            width: 8px;
            height: 8px;
        }
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #C4C4C4;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        @include for-size(tablet) {
            display: none;
        }
    }
}